{% load static %}
{% load i18n %} {# Carrega a biblioteca de internacionalização #}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"> {# Usa o código de idioma dinâmico #}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Anúbis</title>
  <link rel="icon" href="{% static 'img/Logo..png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'inicial/cad.css' %}"/>
  <link rel="stylesheet" href="{% static 'inicial/messages.css' %}"/>
 <script defer src="{% static 'inicial/messages.js' %}"></script> 
</head>
<body>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="container">
    <div class="image-section">
      <img src="{% static 'img/Logo..png' %}" alt="{% trans 'Imagem de fundo' %}" />
    </div>

    <div class="login-section">
      <div class="login-box">
        
        <img src="{% static 'img/Logo..png' %}" alt="{% trans 'Logo' %}" class="logo" />

        <h2>{% trans "CRIAR CONTA" %}</h2>

        <form method="post" action="{% url 'inicial:cadastro' %}">
          {% csrf_token %}

          <div class="form-group">
            <input type="text" id="nome" name="nome_usuario" placeholder="{% trans 'Nome completo' %}" value="{{ form_data.nome_usuario | default:'' }}" required minlength="3" maxlength="150"/>
          </div>

          <div class="form-group">
            <input type="email" id="email" name="email_usuario" placeholder="{% trans 'E-mail' %}" value="{{ form_data.email_usuario | default:'' }}" required />
          </div>

          <div class="form-group">
            <input type="date" id="data_nasc" name="data_nascimento" placeholder="{% trans 'Data de nascimento' %}" value="{{ form_data.data_nascimento | default:'' }}" required />
          </div>
          
          <div class="form-group">
            <input type="password" id="senha" name="senha_usuario" placeholder="{% trans 'Crie uma senha' %}" required />
          </div>

          <div class="form-group">
            <input type="password" id="confirma_senha" name="confirma_senha" placeholder="{% trans 'Confirme sua senha' %}" required />
          </div>

          <button type="submit">{% trans "CRIAR CONTA" %}</button>

          <div class="signup">
            <a href="{% url 'inicial:login' %}">{% trans "Já tem uma conta? Faça login" %}</a>
          </div> 
        </form>
      </div>
    </div>
  </div>
</body>
</html>