{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Anúbis</title>
  <link rel="stylesheet" href="{% static 'inicial/login.css' %}"/>
  <link rel="stylesheet" href="{% static 'inicial/messages.css' %}"/>
 <script defer src="{% static 'inicial/messages.js' %}"></script> 
</head>
<body>
    {% if messages %}
          <ul class="messages"> {# Estilos inline removidos daqui #}
            {% for message in messages %}
              <li class="{{ message.tags }}"> {# Estilos inline removidos daqui #}
                {{ message }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
  <div class="container">
    <div class="image-section">
      <img src="{% static 'img/Logo..png' %}" alt="Imagem de fundo" />
    </div>

    

    <div class="login-section">
      <div class="login-box">

        <h2>REALIZE SEU LOGIN</h2>

        <form method="post" action="{% url 'inicial:login' %}">
          {% csrf_token %}
          <div class="input-group">
            <input type="email" name="email_usuario" placeholder="E-mail" value="{{ form_data.email_usuario | default:'' }}" required />
            <input type="password" name="senha_usuario" placeholder="Senha" required />
          </div>

          <button type="submit">Entrar</button>
          
          <div class="links">
            <a href="#">Esqueci minha senha</a>
          </div>

          <div class="signup">
            <a href="{% url 'inicial:cadastro' %}">Cadastre-se</a>
          </div> 
        </form>
      </div>
    </div>
  </div>
</body>
</html>