{% extends 'principal/base.html' %}
{% load static %}
{% load i18n %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'principal/lidos.css' %}">
  <script src="{% static 'principal/js/abandonados.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="card-central">
    <div class="clube-header">
      <img src="{% static 'img/Logo..png' %}" alt="{% trans 'Logo do Clube' %}">
      <h1 class="quebra-linha"> {{ clube.nome }}</h1>
    </div>

    <p class="descricao-clube">
      {{clube.descricao}}
    </p>

   <div class="botoes">
      <a href="{% url 'principal:estante' clube.id %}" class="botoes">{% trans "Lendo" %}</a>
      <a href="{% url 'principal:lidos' clube.id %}" class="botoes">{% trans "Lidos" %}</a>
      <a href="{% url 'principal:abandonados' clube.id %}" class="botoes" id="bt_atual">{% trans "Abandonados" %}</a>
      <a href="{% url 'principal:proximo_livro' clube.id %}" class="botoes">{% trans "Próximo Livro" %}</a>
      <a href="{% url 'principal:queremos_ler' clube.id %}" class="botoes">{% trans "Queremos Ler" %}</a>
      <a href="{% url 'principal:releitura' clube.id %}" class="botoes">{% trans "Releitura" %}</a>
    </div>


    <div class="filtro-ano">
      <label for="ano">{% trans "Filtrar por ano:" %} </label>
      <select id="ano">
        <option>{% trans "Todos" %}</option>
        <option>2025</option>
        <option>2024</option>
      </select>
    </div>

    <div class="livros-container">
      <div class="livro-card" data-ano="2025">
        <img src="p4.jpg" alt="{% trans 'Capa do Livro' %}">
        <div class="livro-info">
          <h3>É assim que acaba</h3>
          <p><strong>{% trans "Autor:" %}</strong> Colleen Hoover</p>
          <p><strong>{% trans "Última leitura:" %}</strong> 15/01/2025</p>
          <p><strong>{% trans "Nota média:" %}</strong> ⭐ 1.0</p>
        </div>
      </div>
    </div>
{% endblock %}