{% extends 'principal/base.html' %}
{% load static %}
{% load i18n %} 
{% block styles %}
  <link rel="stylesheet" href="{% static 'principal/estante.css' %}">
  <script src="{% static 'principal/js/estante.js' %}"></script>
{% endblock %}

{% block content %}

  <div class="card-central">
    <div class="clube-header">
      <img src="{% static 'img/Logo..png' %}" alt="{% trans 'Logo do Clube' %}">
      <h1 class="quebra-linha"> {{ clube.nome }}</h1>
    </div>

    <p class="descricao-clube">
      {{clube.descricao}}
    </p>

   <div class="botoes">
      <a href="{% url 'principal:estante' clube.id %}" class="botoes" id="bt_lendo">{% trans "Lendo" %}</a>
      <a href="{% url 'principal:lidos' clube.id %}" class="botoes">{% trans "Lidos" %}</a>
      <a href="{% url 'principal:abandonados' clube.id %}" class="botoes">{% trans "Abandonados" %}</a>
      <a href="{% url 'principal:proximo_livro' clube.id %}" class="botoes">{% trans "Próximo Livro" %}</a>
      <a href="{% url 'principal:queremos_ler' clube.id %}" class="botoes">{% trans "Queremos Ler" %}</a>
      <a href="{% url 'principal:releitura' clube.id %}" class="botoes">{% trans "Releitura" %}</a>
    </div>


   

{% block livro %}
<div class="estante-container">
  
  
  {% if leitura_atual %}
    <div class="estante-grid-single">
      <div class="livro-card">
        
        {# Bloco da Capa do Livro #}
        {% with livro=leitura_atual.livro %} {# Criando um atalho para o livro #}
          {% if livro.capa.url %}
            <img src="{{ livro.capa.url }}" alt="{% trans 'Capa do livro' %} {{ livro.nome }}" class="livro-img" />
          {% else %}
            <img src="{% static 'img/sem_capa.png' %}" alt="{% trans 'Capa do livro não disponível' %}" class="livro-img" />
          {% endif %}

          {# Bloco de Informações do Livro #}
          <div class="livro-info">
            <h3><span>{{ livro.nome }}</span></h3>
            <p><strong>{% trans "Autor:" %}</strong> {{ livro.autor }}</p>
            
            {% if leitura_atual.data_inicio %}
              <p><strong>{% trans "Data de Início:" %}</strong> {{ leitura_atual.data_inicio|date:"d/m/Y" }}</p>
            {% endif %}

            <p>
              <strong>{% trans "Próxima Reunião:" %}</strong>
              {% if proxima_reuniao %}
                {{ proxima_reuniao.data_horario|date:"d/m/Y \à\s H:i" }}
              {% else %}
                <span class="text-muted">{% trans "A definir" %}</span>
              {% endif %}
            </p>
          </div>
        {% endwith %}
      </div>
    </div>
  
  {% else %}
    {# Mensagem exibida se não houver leitura atual para este clube #}
    <div class="livro-card">
      <h2>{% blocktrans with clube_nome=clube.nome %}O clube '{{ clube_nome }}' não tem uma leitura definida como "lendo atualmente".{% endblocktrans %}</h2>
  
    </div>
  {% endif %}

</div>
{% endblock %}

{% endblock %}