{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <title>Anúbis</title>
  <link rel="icon" href="{% static 'img/Logo..png' %}" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'principal/inicial_busca.css' %}">

</head>
<body>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <header>
    <div class="branding">
      
      <img src="{% static 'img/Logo..png' %}" alt="Logo da Anúbis" class="logo" />
      <h1>Anúbis</h1>
    </div>
    <p>Reúna. Leia. Renove. Viva com Anúbis, sua plataforma de Clube do livro </p>
    <p>Conecte-se com leitores como você. Leia junto. Compartilhe ideias.</p>
    <div class="buttons">
      
      <a href="{% url 'inicial:login' %}">Entrar</a>
      <a href="{% url 'inicial:cadastro' %}">Criar Conta</a>
    </div>
  </header>

  <section class="search-section">
  <h2>Resultados para: mistérios</h2>
  <div class="search-bar-container">
    <form action="{% url 'principal:inicial_busca' %}" method="GET"> 
        <input
        type="text"
        name="q"
        placeholder="Buscar livros, clubes..."
        class="search-input"
        />
        <button type="submit" class="search-button">
            <i class="fas fa-search search-icon"></i>
        </button>
    </form> </div>
</section>

<div class="club-card">
  <img src="https://via.placeholder.com/150x200" alt="Capa do Livro" class="club-image" />
  <div class="club-info">
    <h2 class="club-name">Clube Mistérios da Agatha</h2>
    <p><strong>Membros:</strong> 35</p>
    <p><strong>Data de criação:</strong> 10/08/2025</p>
    <p><strong>Livro atual:</strong> "Só sobrou um" - Agatha Christie</p>
    <p><strong>Criado por:</strong> Carlos Ricardo</p>
  </div>
</div>
<div class="club-card">
  <img src="https://via.placeholder.com/150x200" alt="Capa do Livro" class="club-image" />
  <div class="club-info">
    <h2 class="club-name">Clube Mistérios da noite</h2>
    <p><strong>Membros:</strong> 35</p>
    <p><strong>Data de criação:</strong> 23/06/2025</p>
    <p><strong>Livro atual:</strong> "O Nome do Vento" - Patrick Rothfuss</p>
    <p><strong>Criado por:</strong> Ana Souza</p>
  </div>
</div>


  <footer>
    © 2025 Anúbis. Todos os direitos reservados.
    Plaforma criada no Instituto Federal de São Paulo
  </footer>
</body>
</html>