{% extends 'principal/base.html' %}
{% load static %}
{% load i18n %} 

{% block styles %}
 <link rel="stylesheet" href="{% static 'principal/admin.css' %}">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
  <div class="main-container admin-form-page">
    <h2 class="form-title">{% blocktrans %}Criar Nova Votação {% endblocktrans %}</h2>
   

    {% if form.fields.livros_opcoes.queryset %} {# Verifica se há opções de livros no formulário #}
      <form method="post" class="styled-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-field">
                {{ field.label_tag }}
                {% if field.name == "livros_opcoes" %}
                    <ul id="id_livros_opcoes" class="checkbox-list"> {# Classe para estilizar lista de checkboxes #}
                    {% for checkbox in field %}
                        <li><label for="{{ checkbox.id_for_label }}">{{ checkbox.tag }} {{ checkbox.choice_label }}</label></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    {{ field }}
                {% endif %}
                {% if field.help_text %}<small class="helptext">{{ field.help_text }}</small>{% endif %}
               
            </div>
        {% endfor %}
        <div class="form-actions">
          <button type="submit" class="action-button">{% trans "Criar Votação" %}</button>
          <a href="{% url 'principal:detalhes_clube' clube.id %}" class="action-button secondary-action">{% trans "Cancelar" %}</a>
        </div>
      </form>
    {% else %}
      <p>{% trans "Não há livros suficientes ou adequados na estante do clube (status \"Quero Ler\" ou \"Próximo a Ser Lido\") para criar uma votação. Adicione pelo menos dois livros elegíveis." %}</p>
      <p><a href="{% url 'principal:adicionar_livro_estante_clube' clube.id %}" class="action-button">{% trans "Adicionar Livros à Estante" %}</a></p>
      <div class="form-actions">
        <a href="{% url 'principal:detalhes_clube' clube.id %}" class="action-button secondary-action" style="margin-left:auto;">{% trans "Voltar" %}</a>
      </div>
    {% endif %}
  </div>
{% endblock %}