{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <title>Anúbis</title>
  <link rel="icon" href="{% static 'img/Logo..png' %}" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'inicial/inicia.css' %}" />
  <link rel="stylesheet" href="{% static 'inicial/messages.css' %}"/>
 <script defer src="{% static 'inicial/messages.js' %}"></script> 
</head>
<body>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <header>
    <div class="branding">
     
      <img src="{% static 'img/Logo..png' %}" alt="Logo da Anúbis" class="logo" />
      <h1>Anúbis</h1>
    </div>
    <p>Reúna. Leia. Renove. Viva com Anúbis, sua plataforma de Clube do livro </p>
    <p>Conecte-se com leitores como você. Leia junto. Compartilhe ideias.</p>
    <div class="buttons">
     
      <a href="{% url 'inicial:login' %}">Entrar</a>
      <a href="{% url 'inicial:cadastro' %}">Criar Conta</a>
    </div>
  </header>


    
    <div class="meeting-section">
      <div class="meeting">
        <h3>Clube: Leituras Noturnas</h3>
        <p>Livro: A Biblioteca da Meia-Noite</p>
        <p>Venha fazer parte do melhor clube, apenas lemos as melhores obras de todos os tempos</p>
        <p>Fundado por Ana Claúdia</p>
      </div>
      <div class="meeting">
        <h3>Clube: Mistérios Literários</h3>
        <p>Livro: Verity</p>
        <p>literalmete para quem quiser!</p>
        <p>Fundado por Vitor Fernandes</p>
      </div>
      <div class="meeting">
        <h3>Clube: Leitores do Sul</h3>
        <p>Livro: O Sol é para Todos</p>
        <p>Um clube para quem gosta de conversar, rabiscar os livros e tirar lições de vida de cada grande leitura</p>
        <p>Fundado por Claúdia Borges</p>
      </div>
    </div>
  </section>


  <footer>
    © 2025 Anúbis. Todos os direitos reservados.
    Plaforma criada no Instituto Federal de São Paulo
  </footer>
</body>
</html>